<!DOCTYPE html>
<html>
<title>Collections - ArtsMart</title> 
<head>  
     <meta name="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=0;" />
     
      <link href="../CSS/custom.css" rel="stylesheet">  
      <link href="../CSS/style.css" rel="stylesheet"> 
      <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>


</head>   

<body>    

 
    <div id="page-wrapper">  
    
  <div id="page-header">  
<a class="sellArtTxt" href="www.google.com">Sell Your Art</a>
<div class="headerTop">
    <div class="container header">
      <div class="row headerRow">
        <a class="col-lg-6 logo" href="home.html"><img src="../icons/logo.png"></a>
        <a href="CartPage.html" class="cart"><label>MY CART</label><img src="../icons/cart.png"></a>
        <input type="text" class="searchbar hidden-sm hidden-xs" placeholder="Search for art"/>
        

        
      </div>
      <div class="searchbarRow">
        <input type="text" class="searchbarBig hidden-lg hidden-md" placeholder="Search for art"/>
      </div>

    </div>
<br><br>

<div class="row"> 
<div class="clearfix"></div>  
<nav id="nav" class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <button id="loginBtnCollapse" class="navbar-toggle collapsed ">LOGIN / REGISTER</button>
      <button type="button" class="btn-collapsed navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button> 
     
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       
       <ul class="nav navbar-nav listToggled"> 
      <li class="txt"><a href="">NEW</a></li>
        <li class="txt art-link"><a href="">ART</a></li> 
         <li class="txt"><a href="../Partials/CollectionListPage.html">COLLECTIONS</a></li>
         <li class="txt"><a href="">ARTISTS</a></li>
          <li class="txt"><a href="">SHOWROOM</a></li>
            <li class="txt"><a href="">ART ADVISORY</a></li>
             <li class="txt"><a href="">TURPENTINE MAG</a></li>
             
        
          </ul> 
          <button id="loginBtn"class="btnLogin hidden-sm hidden-xs">LOGIN / REGISTER</button>
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>  
</div>

<div class="row art-hover-main-row">
    <div class="art-hover-div hiddem-md hidden-sm hidden-xs">
      <div class="container hover-div-container">
      <div class="row hover-div-row">
        <div class="all-hover-divs">
          <div class="hover-left-container hover-divs col-lg-4 col-md-4 ">
            <div class="hover-label-and-list">
               <label class="hover-divs-label">STYLES</label>
                <div class="row hover-inside-list-row">
                 <ul class="list-unstyled hover-list col-lg-7 col-md-7">
                  <li><a>All Styles</a></li>
                  <li><a>Pop Art</a></li>
                  <li><a>Fine Art</a></li>
                  <li><a>Animals</a></li>
                  <li><a>Expressionism</a></li>
                  <li><a>Pop Culture</a></li>
                  <li><a>City</a></li>
                  <li><a>Still Life</a></li>
                  <li><a>Realism</a></li>
                  <li><a>Buildings</a></li>
                  <li><a>Nature</a></li>
                  <li><a>Drawing/Illustration</a></li>
                  <li><a>Art Nouveau</a></li>
                  <li><a>Cubist</a></li>
                  <li><a>City</a></li>
                  <li><a>Abstract Expressionism</a></li>
                
                </ul>
                <ul class="list-unstyled hover-list col-lg-4 col-md-4">
                  <li><a>Abstract</a></li>
                  <li><a>Folk Art</a></li>
                  <li><a>Decorative Art</a></li>
                  <li><a>People</a></li>
                  <li><a>Surrealism</a></li>
                  <li><a>Botanical</a></li>
                  <li><a>African Art</a></li>
                  <li><a>Symbolism</a></li>
                  <li><a>Impressionism</a></li>
                  <li><a>Lanscape</a></li>
                  <li><a>Figures</a></li>
                  <li><a>Fantasty</a></li>
                  <li><a>Portraits</a></li>
                  <li><a>Portraits</a></li>
                  <li><a>Photography</a></li>
                  <li><a>Portraiture</a></li>
                
                </ul>
              </div>
            </div>
          </div>
           <div class="hover-middle-container hover-divs col-lg-4 col-md-4">
              <div class="hover-label-and-list">
             <label class="hover-divs-label">MEDIUMS</label>
              <div class="row hover-inside-list-row">
                 <ul class="list-unstyled hover-list col-lg-4 col-md-4">
                  <li><a>All Mediums</a></li>
                  <li><a>Oil Painting</a></li>
                  <li><a>Mixed Media</a></li>
                  <li><a>Pastel Colors</a></li>
                  <li><a>Prints</a></li>
                  <li><a>Sculpture</a></li>
                  <li><a>Digital Art</a></li>
                </ul>
                <ul class="list-unstyled hover-list col-lg-8 col-md-8">
                  <li><a>Drawings</a></li>
                  <li><a>Acrylic Painting</a></li>
                  <li><a>Pen and Ink</a></li>
                  <li><a>Other</a></li>
                  <li><a>Photography</a></li>
                  <li><a>Watercolor Painting</a></li>
                  <li><a>Wood cut on Paper</a></li>
                </ul>
            </div>
            </div>
          </div>
          <div class="hover-right-container hover-divs col-lg-4 col-md-4">
              <div class="hover-label-and-list">
             <label class="hover-divs-label">ARTWORK OF THE DAY</label>
             <img class="thumbnail hover-divs-image" src="../Images/recentArt.jpg">
            </div>
          </div>
         
          </div>
      </div> 
    </div>
  </div>
</div>
    
    </div>   <!--End of page header-->
      
   
       
       <div class="container" id="collections-content"> 
           
           <div class="title">
       <div class="page-headline"> <h class="page-title"> Collections</h> </div>  
           </div>
        
        <div id="list-block"> 

         <div class="row">    

            <div class="item-block col-lg-4 col-md-4 col-sm-6">

            <div class="collection-item">  
                  
                  <div class="c-imgs"> 

              <span class="s-b-img"> <img src="../Images/c-1.png"class="big-img"></span>
              <span class="s-imgs"> <img src="../Images/c-2.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-3.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-4.png"class="imgs"></span> 

                 </div> 

                 <h id="c-item-title"> Abstract </h>  

                 </br> 

              <button type="button" class="btn btn-primary btn-lg" id="c-item-button"> VIEW COLLECTION</button>

            </div>
           
           
               
           </div> <!--End of an item block-->    

            <div class="item-block col-lg-4 col-md-4 col-sm-6">

            <div class="collection-item">   

              <div class="c-imgs"> 

              <span class="s-b-img"> <img src="../Images/c-1.png"class="big-img"></span>
              <span class="s-imgs"> <img src="../Images/c-2.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-3.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-4.png"class="imgs"></span> 

                 </div> 

               <h id="c-item-title"> Abstract </h>  

                 </br> 

              <button type="button" class="btn btn-primary btn-lg" id="c-item-button"> VIEW COLLECTION</button>

            </div>
           
           
               
           </div> <!--End of an item block-->    


            <div class="item-block col-lg-4 col-md-4 col-sm-6">

            <div class="collection-item">   

               <div class="c-imgs"> 

              <span class="s-b-img"> <img src="../Images/c-1.png"class="big-img"></span>
              <span class="s-imgs"> <img src="../Images/c-2.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-3.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-4.png"class="imgs"></span> 

                 </div> 

               <h id="c-item-title"> Abstract </h>  

                 </br> 

              <button type="button" class="btn btn-primary btn-lg" id="c-item-button"> VIEW COLLECTION</button>

            </div>
           
           
                
           </div> <!--End of an item block-->   

            <div class="item-block col-lg-4 col-md-4 col-sm-6">

            <div class="collection-item">   

                 <div class="c-imgs"> 

              <span class="s-b-img"> <img src="../Images/c-1.png"class="big-img"></span>
              <span class="s-imgs"> <img src="../Images/c-2.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-3.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-4.png"class="imgs"></span> 

                 </div>  

             <h id="c-item-title"> Abstract </h>  

                 </br> 

              <button type="button" class="btn btn-primary btn-lg" id="c-item-button"> VIEW COLLECTION</button>

            </div> 
           
           
               
           </div> <!--End of an item block-->    

           <div class="item-block col-lg-4 col-md-4 col-sm-6">

            <div class="collection-item">   


                <div class="c-imgs"> 

              <span class="s-b-img"> <img src="../Images/c-1.png"class="big-img"></span>
              <span class="s-imgs"> <img src="../Images/c-2.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-3.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-4.png"class="imgs"></span> 

                 </div>  

             <h id="c-item-title"> Abstract </h>  

                 </br> 

              <button type="button" class="btn btn-primary btn-lg" id="c-item-button"> VIEW COLLECTION</button>

            </div>
           
           
               
           </div> <!--End of an item block-->   

           <div class="item-block col-lg-4 col-md-4 col-sm-6">

            <div class="collection-item">   

                <div class="c-imgs"> 

              <span class="s-b-img"> <img src="../Images/c-1.png"class="big-img"></span>
              <span class="s-imgs"> <img src="../Images/c-2.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-3.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-4.png"class="imgs"></span> 

                 </div> 

             <h id="c-item-title"> Abstract </h>  

                 </br> 

              <button type="button" class="btn btn-primary btn-lg" id="c-item-button"> VIEW COLLECTION</button>
 
            </div>
           
           
               
           </div> <!--End of an item block-->  


           <div class="item-block col-lg-4 col-md-4 col-sm-6">

            <div class="collection-item">  

                <div class="c-imgs"> 

              <span class="s-b-img"> <img src="../Images/c-1.png"class="big-img"></span>
              <span class="s-imgs"> <img src="../Images/c-2.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-3.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-4.png"class="imgs"></span> 

                 </div> 

             <h id="c-item-title"> Abstract </h>  

                 </br> 

              <button type="button" class="btn btn-primary btn-lg" id="c-item-button"> VIEW COLLECTION</button>

            </div>
           
           
               
           </div> <!--End of an item block-->  


           <div class="item-block col-lg-4 col-md-4 col-sm-6">

            <div class="collection-item">  

               <div class="c-imgs"> 

              <span class="s-b-img"> <img src="../Images/c-1.png"class="big-img"></span>
              <span class="s-imgs"> <img src="../Images/c-2.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-3.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-4.png"class="imgs"></span> 

                 </div> 

               <h id="c-item-title"> Abstract </h>  

                 </br> 

              <button type="button" class="btn btn-primary btn-lg" id="c-item-button"> VIEW COLLECTION</button>
            </div>
           
           
               
           </div> <!--End of an item block-->  
           

           <div class="item-block col-lg-4 col-md-4 col-sm-6">

            <div class="collection-item">   

                <div class="c-imgs"> 

              <span class="s-b-img"> <img src="../Images/c-1.png"class="big-img"></span>
              <span class="s-imgs"> <img src="../Images/c-2.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-3.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-4.png"class="imgs"></span> 

                 </div>   

             <h id="c-item-title"> Abstract </h>  

                 </br> 

              <button type="button" class="btn btn-primary btn-lg" id="c-item-button"> VIEW COLLECTION</button>

            </div>
           
           
               
           </div> <!--End of an item block-->  

           <div class="item-block col-lg-4 col-md-4 col-sm-6">

            <div class="collection-item">   

                <div class="c-imgs"> 

              <span class="s-b-img"> <img src="../Images/c-1.png"class="big-img"></span>
              <span class="s-imgs"> <img src="../Images/c-2.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-3.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-4.png"class="imgs"></span> 

                 </div>   

             <h id="c-item-title"> Abstract </h>  

                 </br> 

              <button type="button" class="btn btn-primary btn-lg" id="c-item-button"> VIEW COLLECTION</button>

            </div>
           
           
               
           </div> <!--End of an item block-->  

           <div class="item-block col-lg-4 col-md-4 col-sm-6">

            <div class="collection-item">   

                <div class="c-imgs"> 

              <span class="s-b-img"> <img src="../Images/c-1.png"class="big-img"></span>
              <span class="s-imgs"> <img src="../Images/c-2.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-3.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-4.png"class="imgs"></span> 

                 </div>   

             <h id="c-item-title"> Abstract </h>  

                 </br> 

              <button type="button" class="btn btn-primary btn-lg" id="c-item-button"> VIEW COLLECTION</button>

            </div>
           
           
               
           </div> <!--End of an item block-->  

           <div class="item-block col-lg-4 col-md-4 col-sm-6">

            <div class="collection-item">   

                <div class="c-imgs"> 

              <span class="s-b-img"> <img src="../Images/c-1.png"class="big-img"></span>
              <span class="s-imgs"> <img src="../Images/c-2.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-3.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-4.png"class="imgs"></span> 

                 </div>   

             <h id="c-item-title"> Abstract </h>  

                 </br> 

              <button type="button" class="btn btn-primary btn-lg" id="c-item-button"> VIEW COLLECTION</button>

            </div>
           
           
               
           </div> <!--End of an item block-->  

           <div class="item-block col-lg-4 col-md-4 col-sm-6">

            <div class="collection-item">   

                <div class="c-imgs"> 

              <span class="s-b-img"> <img src="../Images/c-1.png"class="big-img"></span>
              <span class="s-imgs"> <img src="../Images/c-2.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-3.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-4.png"class="imgs"></span> 
 
                 </div>   

             <h id="c-item-title"> Abstract </h>  

                 </br> 

              <button type="button" class="btn btn-primary btn-lg" id="c-item-button"> VIEW COLLECTION</button>

            </div>
           
           
               
           </div> <!--End of an item block-->  

           <div class="item-block col-lg-4 col-md-4 col-sm-6">

            <div class="collection-item">   

                <div class="c-imgs"> 

              <span class="s-b-img"> <img src="../Images/c-1.png"class="big-img"></span>
              <span class="s-imgs"> <img src="../Images/c-2.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-3.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-4.png"class="imgs"></span> 

                 </div>   

             <h id="c-item-title"> Abstract </h>  

                 </br> 

              <button type="button" class="btn btn-primary btn-lg" id="c-item-button"> VIEW COLLECTION</button>

            </div>
           
           
               
           </div> <!--End of an item block-->  

           <div class="item-block col-lg-4 col-md-4 col-sm-6">

            <div class="collection-item">   

                <div class="c-imgs"> 

              <span class="s-b-img"> <img src="../Images/c-1.png"class="big-img"></span>
              <span class="s-imgs"> <img src="../Images/c-2.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-3.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-4.png"class="imgs"></span> 

                 </div>   

             <h id="c-item-title"> Abstract </h>  

                 </br> 

              <button type="button" class="btn btn-primary btn-lg" id="c-item-button"> VIEW COLLECTION</button>

            </div>
           
           
               
           </div> <!--End of an item block-->  

           <div class="item-block col-lg-4 col-md-4 col-sm-6">

            <div class="collection-item">   

                <div class="c-imgs"> 

              <span class="s-b-img"> <img src="../Images/c-1.png"class="big-img"></span>
              <span class="s-imgs"> <img src="../Images/c-2.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-3.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-4.png"class="imgs"></span> 

                 </div>   

             <h id="c-item-title"> Abstract </h>  

                 </br> 

              <button type="button" class="btn btn-primary btn-lg" id="c-item-button"> VIEW COLLECTION</button>

            </div>
           
           
               
           </div> <!--End of an item block-->  

           <div class="item-block col-lg-4 col-md-4 col-sm-6">

            <div class="collection-item">   

                <div class="c-imgs"> 

              <span class="s-b-img"> <img src="../Images/c-1.png"class="big-img"></span>
              <span class="s-imgs"> <img src="../Images/c-2.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-3.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-4.png"class="imgs"></span> 

                 </div>   

             <h id="c-item-title"> Abstract </h>  

                 </br> 

              <button type="button" class="btn btn-primary btn-lg" id="c-item-button"> VIEW COLLECTION</button>

            </div>
           
           
               
           </div> <!--End of an item block-->  

           <div class="item-block col-lg-4 col-md-4 col-sm-6">

            <div class="collection-item">   

                <div class="c-imgs"> 

              <span class="s-b-img"> <img src="../Images/c-1.png"class="big-img"></span>
              <span class="s-imgs"> <img src="../Images/c-2.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-3.png"class="imgs"></span>
              <span class="s-imgs"> <img src="../Images/c-4.png"class="imgs"></span> 

                 </div>   

             <h id="c-item-title"> Abstract </h>  

                 </br> 

              <button type="button" class="btn btn-primary btn-lg" id="c-item-button"> VIEW COLLECTION</button>

            </div>
           
           
               
           </div> <!--End of an item block--> 

         </div>
       
       </div><!--End of list block-->  
           
           <div id="load-btn">
       <button type="button" class="btn btn-primary btn-lg" id="c-load-button"> LOAD MORE</button>
           </div>

      </div> <!--End of collection content-->  

   </div> <!--End of page wrapper-->   

   <!--start of footer-->    
     
     <div class="footer">
  <div class="left-container hidden-sm hidden-xs">
    <div class="container footer-container-left">
      <div class="row footer-row-left">
        <div class="label-and-button col-lg-12">
          <p>GET THE LATEST UPDATES, NEWS, TIPS & OFFERS.</p>
          <input class="search-bar-footer col-lg-6 col-md-6 col-xs-12" type="text" placeholder="Email Address"/> 
          <button class="col-lg-2 col-md-2 col-sm-3 col-xs-3 submit-button-footer"><label>SUBSCRIBE</label></button>
        </div>
      </div>
    </div>
  </div>
  <div class="left-container-hidden hidden-lg hidden-md">
    <div class="container footer-container-left">
      <div class="row footer-row-left">
        <div class="label-and-button-hidden col-lg-12">
          <p>GET THE LATEST UPDATES, NEWS, TIPS & OFFERS.</p>
          <input class="search-bar-footer-hidden col-lg-6 col-md-6" type="text" placeholder="Email Address"/> 
          <button class="col-lg-2 col-md-2 col-sm-3 col-xs-3 submit-button-footer-hidden"><label>SUBSCRIBE</label></button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="right-container">
    <div class="container footer-container-right">
      <div class="row footer-row-right">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 right-text">
        <label>FOR BUYERS</label>
          <ul class="list-unstyled">
            <li><a>Art</a></li>
            <li><a>Events</a></li>
            <li><a>Art Advisory</a></li>
            <li><a>FAQ</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 right-text">
        <label>FOR ARTISTS</label>
         <ul class="list-unstyled">
               <li><a>Sell Your Design</a></li>
            <li><a>Sign In</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 right-text">
        <label>ARTSMART</label>
         <ul class="list-unstyled">
            <li><a>About</a></li>
            <li><a>How it Works</a></li>
            <li><a>Turpentine Mag</a></li>
            <li><a>Contact Us</a></li>
            
          </ul></div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 right-text">
        <label>USEFUL LINKS</label>
         <ul class="list-unstyled">
            <li><a>Payment</a></li>
            <li><a>Shipping</a></li>
            
          </ul></div>
      </div>
    </div>
  </div>

  <div class="bottom-container">
    
    <div class="container footer-container-bottom">
      <div class="row footer-row-bottom">

        <div class="col-lg-2 col-md-2 footer-bottom-logo">
     
        </div>

        

      </div>

  </div>
</div>
 
 <script src="../JavaScript/jquery-1.11.1.min.js"></script>
      <script src="../JavaScript/bootstrap.min.js"></script>   
      <script src="../JavaScript/main.js"></script> 

</body> 

</html>

