<!DOCTYPE html>
<html>
<title>My Cart</title> 
<head>  
      <meta name="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=0;" />
  
      <link href="../CSS/style.css" rel="stylesheet"> 
      <link href="../CSS/custom.css" rel="stylesheet">  
      <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
      <script src="../JavaScript/jquery-1.11.1.min.js"></script>
      <script src="../JavaScript/bootstrap.min.js"></script>   
      <script src="../JavaScript/main.js"></script>

</head>   

<body>    

  <div id="page-wrapper"> 

    <div id="page-header">  
     <a class="sellArtTxt" href="#">Sell Your Art</a>
<div class="headerTop">
    <div class="container header">
      <div class="row headerRow">
        <a class="col-lg-6 logo" href="home.html"><img src="../icons/logo.png"></a>
        <a href="CartPage.html" class="cart"><label>MY CART</label><img src="../icons/cart.png"></a>
        <input type="text" class="searchbar hidden-sm hidden-xs" placeholder="Search for art"/>
        

        
      </div>
      <div class=" row searchbarRow">
        <input type="text" class="searchbarBig col-sm-12 hidden-lg hidden-md" placeholder="Search for art"/>
      </div>

    </div>
<br><br>

<nav id="nav" class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <button id="loginBtnCollapse" class="navbar-toggle collapsed ">LOGIN / REGISTER</button>
      <button type="button" class="btn-collapsed navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button> 
     
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       
       <ul class="nav navbar-nav listToggled"> 
      <li class="txt"><a href="">NEW</a></li>
        <li class="txt"><a href="">ART</a></li> 
         <li class="txt"><a href="CollectionListPage.html">COLLECTIONS</a></li>
         <li class="txt"><a href="">ARTISTS</a></li>
          <li class="txt"><a href="">SHOWROOM</a></li>
            <li class="txt"><a href="">ART ADVISORY</a></li>
             <li class="txt"><a href="">TURPENTINE MAG</a></li>
             
        
          </ul> 
          <button id="loginBtn"class="btnLogin hidden-sm hidden-xs">LOGIN / REGISTER</button>
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>

     </div>   <!--End of page header-->
      
      
       
       <div class="container" id="cart-content"> 
           
           <div class="title">
       <div class="page-headline"> <h class="page-title"> My Cart</h> </div>  
           </div> 

           <div class="alert alert-success">
              Beatle removed.Undo?
           </div>
            


         <div id="empty-cart-block">   

         
         <p id="empty-cart-p"> Your cart is currently empty </p> 

         <button type="button" class="btn btn-primary btn-lg" id="return-btn"> Return to shop</button>
           
     
         
         </div>

        </div> <!--End of cart content--> 
        
        <div class="container">
         <div id="catalogue">
             
             <div class="title">
          <div class="page-headline"> <h class="page-title"> You May Be Interested In...</h> </div> 
              </div>

            <div class="row"> 

              <div class="catalogue-item"> 

                
              </div>   

            </div>
                

      </div> <!--End of catalogue--> 
      </div>




  </div> <!--End of page wrapper-->
    <div class="footer">
  <div class="left-container hidden-sm hidden-xs">
    <div class="container footer-container-left">
      <div class="row footer-row-left">
        <div class="label-and-button col-lg-12">
          <p>GET THE LATEST UPDATES, NEWS, TIPS & OFFERS.</p>
          <input class="search-bar-footer col-lg-6 col-md-6 col-xs-12" type="text" placeholder="Email Address"/> 
          <button class="col-lg-2 col-md-2 col-sm-3 col-xs-3 submit-button-footer"><label>SUBSCRIBE</label></button>
        </div>
      </div>
    </div>
  </div>
  <div class="left-container-hidden hidden-lg hidden-md">
    <div class="container footer-container-left">
      <div class="row footer-row-left">
        <div class="label-and-button-hidden col-lg-12">
          <p>GET THE LATEST UPDATES, NEWS, TIPS & OFFERS.</p>
          <input class="search-bar-footer-hidden col-lg-6 col-md-6" type="text" placeholder="Email Address"/> 
          <button class="col-lg-2 col-md-2 col-sm-3 col-xs-3 submit-button-footer-hidden"><label>SUBSCRIBE</label></button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="right-container">
    <div class="container footer-container-right">
      <div class="row footer-row-right">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 right-text">
        <label>FOR BUYERS</label>
          <ul class="list-unstyled">
            <li><a>Art</a></li>
            <li><a>Events</a></li>
            <li><a>Art Advisory</a></li>
            <li><a>FAQ</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 right-text">
        <label>FOR ARTISTS</label>
         <ul class="list-unstyled">
               <li><a>Sell Your Design</a></li>
            <li><a>Sign In</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 right-text">
        <label>ARTSMART</label>
         <ul class="list-unstyled">
            <li><a>About</a></li>
            <li><a>How it Works</a></li>
            <li><a>Turpentine Mag</a></li>
            <li><a>Contact Us</a></li>
            
          </ul></div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 right-text">
        <label>USEFUL LINKS</label>
         <ul class="list-unstyled">
            <li><a>Payment</a></li>
            <li><a>Shipping</a></li>
            
          </ul></div>
      </div>
    </div>
  </div>

  <div class="bottom-container">
    
    <div class="container footer-container-bottom">
      <div class="row footer-row-bottom">

        <div class="col-lg-2 col-md-2 footer-bottom-logo">
     
        </div>

        

      </div>

  </div>
</div>
   

</body>   


</html>