<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"> 
  <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
  <meta name = "viewport" content = "width = device-width, initial-scale = 1">
  <title>All Styles - ArtsMart</title>

  <link href="../CSS/bootstrap-theme.min.css" rel="stylesheet" >
  <link href="../CSS/bootstrap.min.css" rel="stylesheet" >
  <link rel="stylesheet" href="../CSS/Products.css" >
    <link rel="stylesheet" href="../CSS/custom.css" >
    <link rel="stylesheet" href="../CSS/style.css" >
  <!--[if lt IE 9]>
  <script src = "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src = "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>  

<body style="background: #f6f6f6;" class="page">
 <div id="page-wrapper"> 
   

<div id="page-header"> 

  <a class="sellArtTxt" href="www.google.com">Sell Your Art</a>
<div class="headerTop">
    <div class="container header">
      <div class="row headerRow">
        <a class="col-lg-6 logo" href="home.html"><img src="../icons/logo.png"></a>
        <a href="CartPage.html" class="cart"><label>MY CART</label><img src="../icons/cart.png"></a>
        <input type="text" class="searchbar hidden-sm hidden-xs" placeholder="Search for art"/>
        

        
      </div>
      <div class="searchbarRow">
        <input type="text" class="searchbarBig hidden-lg hidden-md" placeholder="Search for art"/>
      </div>

    </div>
<br><br>

<div class="row"> 
<div class="clearfix"></div>  
<nav id="nav" class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <button id="loginBtnCollapse" class="navbar-toggle collapsed ">LOGIN / REGISTER</button>
      <button type="button" class="btn-collapsed navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button> 
     
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       
       <ul class="nav navbar-nav listToggled"> 
      <li class="txt"><a href="">NEW</a></li>
        <li class="txt art-link"><a href="">ART</a></li> 
         <li class="txt"><a href="../Partials/CollectionListPage.html">COLLECTIONS</a></li>
         <li class="txt"><a href="">ARTISTS</a></li>
          <li class="txt"><a href="">SHOWROOM</a></li>
            <li class="txt"><a href="">ART ADVISORY</a></li>
             <li class="txt"><a href="">TURPENTINE MAG</a></li>
             
        
          </ul> 
          <button id="loginBtn"class="btnLogin hidden-sm hidden-xs">LOGIN / REGISTER</button>
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>  
</div>

<div class="row art-hover-main-row">
    <div class="art-hover-div hiddem-md hidden-sm hidden-xs">
      <div class="container hover-div-container">
      <div class="row hover-div-row">
        <div class="all-hover-divs">
          <div class="hover-left-container hover-divs col-lg-4 col-md-4 ">
            <div class="hover-label-and-list">
               <label class="hover-divs-label">STYLES</label>
                <div class="row hover-inside-list-row">
                 <ul class="list-unstyled hover-list col-lg-7 col-md-7">
                  <li><a>All Styles</a></li>
                  <li><a>Pop Art</a></li>
                  <li><a>Fine Art</a></li>
                  <li><a>Animals</a></li>
                  <li><a>Expressionism</a></li>
                  <li><a>Pop Culture</a></li>
                  <li><a>City</a></li>
                  <li><a>Still Life</a></li>
                  <li><a>Realism</a></li>
                  <li><a>Buildings</a></li>
                  <li><a>Nature</a></li>
                  <li><a>Drawing/Illustration</a></li>
                  <li><a>Art Nouveau</a></li>
                  <li><a>Cubist</a></li>
                  <li><a>City</a></li>
                  <li><a>Abstract Expressionism</a></li>
                
                </ul>
                <ul class="list-unstyled hover-list col-lg-4 col-md-4">
                  <li><a>Abstract</a></li>
                  <li><a>Folk Art</a></li>
                  <li><a>Decorative Art</a></li>
                  <li><a>People</a></li>
                  <li><a>Surrealism</a></li>
                  <li><a>Botanical</a></li>
                  <li><a>African Art</a></li>
                  <li><a>Symbolism</a></li>
                  <li><a>Impressionism</a></li>
                  <li><a>Lanscape</a></li>
                  <li><a>Figures</a></li>
                  <li><a>Fantasty</a></li>
                  <li><a>Portraits</a></li>
                  <li><a>Portraits</a></li>
                  <li><a>Photography</a></li>
                  <li><a>Portraiture</a></li>
                
                </ul>
              </div>
            </div>
          </div>
           <div class="hover-middle-container hover-divs col-lg-4 col-md-4">
              <div class="hover-label-and-list">
             <label class="hover-divs-label">MEDIUMS</label>
              <div class="row hover-inside-list-row">
                 <ul class="list-unstyled hover-list col-lg-4 col-md-4">
                  <li><a>All Mediums</a></li>
                  <li><a>Oil Painting</a></li>
                  <li><a>Mixed Media</a></li>
                  <li><a>Pastel Colors</a></li>
                  <li><a>Prints</a></li>
                  <li><a>Sculpture</a></li>
                  <li><a>Digital Art</a></li>
                </ul>
                <ul class="list-unstyled hover-list col-lg-8 col-md-8">
                  <li><a>Drawings</a></li>
                  <li><a>Acrylic Painting</a></li>
                  <li><a>Pen and Ink</a></li>
                  <li><a>Other</a></li>
                  <li><a>Photography</a></li>
                  <li><a>Watercolor Painting</a></li>
                  <li><a>Wood cut on Paper</a></li>
                </ul>
            </div>
            </div>
          </div>
          <div class="hover-right-container hover-divs col-lg-4 col-md-4">
              <div class="hover-label-and-list">
             <label class="hover-divs-label">ARTWORK OF THE DAY</label>
             <img class="thumbnail hover-divs-image" src="../Images/recentArt.jpg">
            </div>
          </div>
         
          </div>
      </div> 
    </div>
  </div>
</div>
    
       </div> <!--End of page header-->
              
               

           
           <div class="container"> 

               <div id="shop-header">
        <h2 id="shop-txt">SHOP</h2>
      </div> 
     <!-- <div class="shop-dropdowns dropdown col-lg-3 col-md-3">
    <button class="drop-down-menu dropdown-toggle" type="button" data-toggle="dropdown">
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Framed Art</a></li>
      <li><a href="#">Painting</a></li>
      <li><a href="#">Photography</a></li>
      <li><a href="#">Print</a></li>
      <li><a href="#">Sculpture</a></li>
    </ul>
  </div> -->
              <div id="colors-section">
              <div class="row">
                      <div class="colors">

                                      <a href="#" class="reset col" data-value="">Reset Colors</a>

                                      <a href="#" class="col multi" data-value="">

                                        <span style="background-color: #00c5ff"></span><!--
                                        --><span style="background-color: #ff00af"></span><!--
                                        --><span style="background-color: #ffff00"></span><!--
                                        --><span style="background-color: #000000"></span>

                                      </a><!--
                                      -->


                                                      <a href="#" class="col" style="background-color:#3366ff" data-value="baby-blue"></a><!--
                                      -->


                                                      <a href="#" class="col" style="background-color:#996600" data-value="beige"></a><!--
                                      -->


                                                      <a href="#" class="col" style="background-color:#000000" data-value="black"></a><!--
                                      -->


                                                      <a href="#" class="col" style="background-color:#0033ff" data-value="blue"></a><!--
                                      -->


                                                      <a href="#" class="col" style="background-color:#a62a2a" data-value="brown"></a><!--
                                      -->


                                                      <a href="#" class="col" style="background-color:" data-value="cream"></a><!--
                                      -->


                                                      <a href="#" class="col" style="background-color:#000066" data-value="dark-blue"></a><!--
                                      -->


                                                      <a href="#" class="col" style="background-color:#5c4033" data-value="dark-brown"></a><!--
                                      -->


                                                      <a href="#" class="col" style="background-color:#2f4f2f" data-value="dark-green"></a><!--
                                      -->


                                                      <a href="#" class="col" style="background-color:#8e2323" data-value="dark-red"></a><!--
                                      -->


                                                      <a href="#" class="col" style="background-color:#cd7f32" data-value="gold"></a><!--
                                      -->


                                                      <a href="#" class="col" style="background-color:#00ff00" data-value="green"></a><!--
                                      -->


                                                      <a href="#" class="col" style="background-color:#545454" data-value="grey"></a><!--
                                      -->


                                                      <a href="#" class="col" style="background-color:#f4af38" data-value="hex"></a><!--
                                      -->


                                                      <a href="#" class="col" style="background-color:" data-value="null"></a><!--
                                      -->


                                                      <a href="#" class="col" style="background-color:#e47833" data-value="orange"></a><!--
                                      -->


                                                      <a href="#" class="col" style="background-color:#ffcba4" data-value="peach"></a><!--
                                      -->


                                                      <a href="#" class="col" style="background-color:#db33dd" data-value="pink"></a><!--
                                      -->


                                                      <a href="#" class="col" style="background-color:#ff00ff" data-value="purple"></a><!--
                                      -->


                                                      <a href="#" class="col" style="background-color:#dd3333" data-value="red"></a><!--
                                      -->


                                                      <a href="#" class="col" style="background-color:#e6e8fa" data-value="silver"></a><!--
                                      -->


                                                      <a href="#" class="col" style="background-color:#70dbdb" data-value="turquoise"></a><!--
                                      -->


                                                      <a href="#" class="col" style="background-color:#4f2f4f" data-value="violet"></a><!--
                                      -->


                                                      <a href="#" class="col" style="background-color:#f9f9f9" data-value="white"></a><!--
                                      -->


                                                      <a href="#" class="col" style="background-color:#b5a642" data-value="yellow"></a><!--
                                      -->




                                    </div>

       

       </div>  
      </div>
    </div>

 <div class="container">         
            <div class="grid" id="products"> 

            <div class="product-block">

            <div class="collection-item">  
                  
                  <div class="c-imgs"> 

              <a href="singleProduct.html">
              <img class="s-b-img img-responsive" src="../Images/Beatle.png" class="big-img" >
              </a>
              <h4><strong>Beetle</strong></h4>
              <div class="priceText"><span class="amountText">EGP 13,000</span></div>
              <p>Ahmed Talal<br>100 x 100 cm</p>

                 </div> 

            </div>
           
           
               
           </div> <!--End of an item block-->    

            <div class="product-block">

            <div class="collection-item">   

              <div class="c-imgs"> 

              <span class="s-b-img"> <img src="../Images/c-1.png" class="big-img"></span> 

                <h4><strong>Beetle</strong></h4>
              <div class="priceText"><span class="amountText">EGP 13,000</span></div>
              <p>Ahmed Talal<br>100 x 100 cm</p>
        
                 </div>

            </div>
           
           
               
           </div> <!--End of an item block-->    


            <div class="product-block col-md-8 col-sm-8 col-xs-8">

            <div class="collection-item">   

               <div class="c-imgs"> 

              <span class="s-b-img"> <img src="../Images/product3.png" class="big-img"></span> 

                 <h4><strong>Beetle</strong></h4>
              <div class="priceText"><span class="amountText  ">EGP 13,000</span></div>
              <p>Ahmed Talal<br>100 x 100 cm</p>
              
                 </div> 

               


            </div>
           
           
                
           </div> <!--End of an item block-->   
            
                 
         <div class="product-block col-md-8 col-sm-8 col-xs-8">

            <div class="collection-item">  
                  
                  <div class="c-imgs"> 

              <a href="singleProduct.html" class="items">
              <img class="s-b-img img-responsive" src="../Images/p-4.png" class="big-img" >
              </a>
              <h4><strong>Beetle</strong></h4>
              <div class="priceText"><span class="amountText  ">EGP 13,000</span></div>
              <p>Ahmed Talal<br>100 x 100 cm</p>

                 </div> 

            </div>
           
           
               
           </div> <!--End of an item block-->    

            <div class="product-block col-md-8 col-sm-8 col-xs-8">

            <div class="collection-item">   

              <div class="c-imgs"> 

              <span class="s-b-img"> <img src="../Images/p-5.png" class="big-img"></span> 

                <h4><strong>Beetle</strong></h4>
              <div class="priceText"><span class="amountText  ">EGP 13,000</span></div>
              <p>Ahmed Talal<br>100 x 100 cm</p>
        
                 </div>

            </div>
           
           
               
           </div> <!--End of an item block-->    


            <div class="product-block col-md-8 col-sm-8 col-xs-8">

            <div class="collection-item">   

               <div class="c-imgs"> 

              <span class="s-b-img"> <img src="../Images/p-6.png" class="big-img"></span> 

                 <h4><strong>Beetle</strong></h4>
              <div class="priceText"><span class="amountText  ">EGP 13,000</span></div>
              <p>Ahmed Talal<br>100 x 100 cm</p>
              
                 </div>

            </div>
             
                
           </div> <!--End of an item block-->   


            <div class="product-block col-md-8 col-sm-8 col-xs-8">

            <div class="collection-item">  
                  
                  <div class="c-imgs"> 

              <a href="singleProduct.html" class="items">
              <img class="s-b-img" src="../Images/product7.png" class="big-img">
              </a>
              <h4><strong>Beetle</strong></h4>
              <div class="priceText"><span class="amountText  ">EGP 13,000</span></div>
              <p>Ahmed Talal<br>100 x 100 cm</p>

                 </div> 

            </div>
           
           
               
           </div> <!--End of an item block-->    

            <div class="product-block col-md-8 col-sm-8 col-xs-8">

            <div class="collection-item">   

              <div class="c-imgs"> 

              <span class="s-b-img"> <img src="../Images/product8.png" class="big-img"></span> 

                <h4><strong>Beetle</strong></h4>
              <div class="priceText"><span class="amountText  ">EGP 13,000</span></div>
              <p>Ahmed Talal<br>100 x 100 cm</p>
        
                 </div>

            </div>
           
           
               
           </div> <!--End of an item block-->    


            <div class="product-block col-md-8 col-sm-8 col-xs-8">

            <div class="collection-item">   

               <div class="c-imgs"> 

              <span class="s-b-img"> <img src="../Images/product9.png" class="big-img"></span> 

                 <h4><strong>Beetle</strong></h4>
              <div class="priceText"><span class="amountText  ">EGP 13,000</span></div>
              <p>Ahmed Talal<br>100 x 100 cm</p>
              
                 </div> 

               


            </div>
           
           
                
           </div> <!--End of an item block-->   
           
           <div class="product-block">

            <div class="collection-item">   

               <div class="c-imgs"> 

              <span class="s-b-img"> <img src="../Images/product12.png" class="big-img"></span> 

                 <h4><strong>Beetle</strong></h4>
              <div class="priceText"><span class="amountText  ">EGP 13,000</span></div>
              <p>Ahmed Talal<br>100 x 100 cm</p>
              
                 </div> 

               


            </div>
           
           
                
           </div>


           <div class="product-block">

            <div class="collection-item">   

               <div class="c-imgs"> 

              <span class="s-b-img"> <img src="../Images/product11.png" class="big-img"></span> 

                 <h4><strong>Beetle</strong></h4>
              <div class="priceText"><span class="amountText  ">EGP 13,000</span></div>
              <p>Ahmed Talal<br>100 x 100 cm</p>
              
                 </div> 

               


            </div>
           
           
                
           </div>

           <div class="product-block">

            <div class="collection-item">   

               <div class="c-imgs"> 

              <span class="s-b-img"> <img src="../Images/product10.png" class="big-img"></span> 

                 <h4><strong>Beetle</strong></h4>
              <div class="priceText"><span class="amountText  ">EGP 13,000</span></div>
              <p>Ahmed Talal<br>100 x 100 cm</p>
              
                 </div> 

               


            </div>
           
           
                
           </div>
            
           

      </div> <!--End of catalogue-->   
     
</div> 


            

<div class="footer">
  <div class="left-container hidden-sm hidden-xs">
    <div class="container footer-container-left">
      <div class="row footer-row-left">
        <div class="label-and-button col-lg-12">
          <p>GET THE LATEST UPDATES, NEWS, TIPS & OFFERS.</p>
          <input class="search-bar-footer col-lg-6 col-md-6 col-xs-12" type="text" placeholder="Email Address"/>
          <button class="col-lg-2 col-md-2 col-sm-3 col-xs-3 submit-button-footer"><label>SUBSCRIBE</label></button>
        </div>
      </div>
    </div>
  </div>
  <div class="left-container-hidden hidden-lg hidden-md">
    <div class="container footer-container-left">
      <div class="row footer-row-left">
        <div class="label-and-button-hidden col-lg-12">
          <p>GET THE LATEST UPDATES, NEWS, TIPS & OFFERS.</p>
          <input class="search-bar-footer-hidden col-lg-6 col-md-6" type="text" placeholder="Email Address"/>
          <button class="col-lg-2 col-md-2 col-sm-3 col-xs-3 submit-button-footer-hidden"><label>SUBSCRIBE</label></button>
        </div>
      </div>
    </div>
  </div>

  <div class="right-container">
    <div class="container footer-container-right">
      <div class="row footer-row-right">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 right-text">
        <label>FOR BUYERS</label>
          <ul class="list-unstyled">
            <li><a>Art</a></li>
            <li><a>Events</a></li>
            <li><a>Art Advisory</a></li>
            <li><a>FAQ</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 right-text">
        <label>FOR ARTISTS</label>
         <ul class="list-unstyled">
               <li><a>Sell Your Design</a></li>
            <li><a>Sign In</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 right-text">
        <label>ARTSMART</label>
         <ul class="list-unstyled">
            <li><a>About</a></li>
            <li><a>How it Works</a></li>
            <li><a>Turpentine Mag</a></li>
            <li><a>Contact Us</a></li>

          </ul></div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 right-text">
        <label>USEFUL LINKS</label>
         <ul class="list-unstyled">
            <li><a>Payment</a></li>
            <li><a>Shipping</a></li>

          </ul></div>
      </div>
    </div>
  </div>

  <div class="bottom-container">

    <div class="container footer-container-bottom">
      <div class="row footer-row-bottom">

        <div class="col-lg-2 col-md-2 footer-bottom-logo">

        </div>



      </div>

  </div>
</div> 


    
    <script src="../JavaScript/jquery-1.11.1.min.js" type="text/javascript" > </script>
    <script type="text/javascript" src="https://npmcdn.com/isotope-layout@3.0.1/dist/isotope.pkgd.js"></script>
    <script src="../JavaScript/bootstrap.min.js" type="text/javascript" > </script>
    <script src="../JavaScript/main.js" type="text/javascript" > </script>
  </body>

  </html>